{
  "extends": ["plugin:prettier/recommended"],

  "plugins": ["prettier"],

  "rules": {
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },

  "parserOptions": {
    "sourceType": "module"
  },

  "parser": "react-scripts/node_modules/babel-eslint"
}
